# cabal build artifacts
dist-newstyle/

# GHC intermediate files
.ghc.environment.*
*.o
*.hi
*.dyn_o
*.dyn_hi

# GHCi and profiling files
.ghci
*.prof
*.tix

# IDE and Editor-specific files
.vscode/
.idea/
.stack-work/

# Build and Generation directories
build/
build_release/
build*/
csrc/gen/

.cache/
vcpkg_installed/

# Meson subprojects
subprojects/*
!subprojects/*.wrap
